.heroi{
display: flex;
}
.TryNow{
  width: 26%;
}
.fx {
  display: flex;
  margin-bottom: 4.5rem;
}
.fx-img{
  width: 60px;
  height: 60px;
  margin-right: 2rem;
}
.fx-img img {
  width: 100%;
  height: 100%;
}
.heroi-heading{
  font-weight: 50;
  color: rgb(54, 54, 54);
  font-size: small;
}
.ratings-style{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ratings{
  margin-right: 2.9rem;
}
.reviews{
  margin-right: 2.9rem;
}
.Developer{
  margin: 0.2rem;
}
.add-appp{
background-color: #000;
padding: 1rem;
color: wheat;
border-radius: 1.4rem;
align-items: center;
text-align: center;
margin-bottom: 2rem;
}
.pro-ppl{
  margin-left: 2.9rem;
  width: 40%;
  height: 40%;
}
.pro-ppl img{
  width: 100%;
  height: 100%;
}
.imag-grid{
  margin-left: 2.9rem;
  width: 14.8%;
  padding-left: 2rem;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly
}
.imag-grid img{
  width: 100%;
  height: 100%;
}
